body{
    text-align: center;
}

.button{
    height: 200px;
    width: 200px;
    border: 0.5rem solid black;
    border-radius: 1.25rem;
    margin: 1.5rem;
}

.container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.orange{
    background-color: orange;
}

.violet{
    background-color: violet;
}

.flash{
    background-color: antiquewhite;
}