body{
    text-align: center;
}

h1{
    color: blue;
    text-decoration: solid black underline;
}

.button{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 1.25rem;
    margin: 1.5rem;
    box-shadow: 15px 15px grey;
}

.container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.orange{
    background-color: orange;
}

.violet{
    background-color: violet;
}

.flash{
    background-color: antiquewhite;
}

.userflash{
    background-color: green;
}